{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Enter New password
{% endblock title %}

{% block content %}

<h1 class='text-success'>Enter New Password</h1>

<div class="container">
    <div class="row">
        <div class="col-4">     
            <form method='post'>

                {% csrf_token %}
                {{form|crispy}} <hr>
                
                <input style="height: 55px; ;" type="submit" class="btn btn-success" value='Reset Password'>
            </form>
        </div>
    </div>
</div>

{% endblock content %}



