{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
change password
{% endblock title %}

{% block content %}
<h1 class='text-primary'>Change Password</h1>
<div class="container">
    <div class="row">
        <div class="col-4">  
            <form method="post">

                {% csrf_token %}

                {% comment %} {{form.as_p}} {% endcomment %}
                {{form|crispy}} <hr>

                <input type="submit" class="btn btn-primary" value='Apply'>

            </form>    
        </div>
    </div>
</div>


{% endblock content %}
