{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<h1>have you forget your password?</h1>
{% endblock title %}

{% block content %}
<h1 class='text-bg-secondary'>have you forget your password?</h1>

<div class="container">
    <div class="row">
        <div class="col-4">     
            <form method='post'>

                {% csrf_token %}
                {{form|crispy}} <hr>
                
                <input type="submit" class="btn btn-success" value='Send Email'>
            </form>
        </div>
    </div>
</div>

{% endblock content %}




